{% extends 'base.html.twig '%}
{% block body %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col ml2 sl2">
                <h1>Ajout d'un utilisateur</h1>
                {{form_start(form)}}
                {{form_label(form.nom)}}
                {{form_widget(form.nom)}}
                
                {{form_label(form.prenom)}}
                {{form_widget(form.prenom)}}
                
                {{form_label(form.photo)}}
                {{form_widget(form.photo)}}
                
                {{form_label(form.login)}}
                {{form_widget(form.login)}}
                
                {{form_label(form.motdepasse)}}
                {{form_widget(form.motdepasse)}}
                
                {{form_label(form.adresse)}}
                {{form_widget(form.adresse)}}
                
                {{form_label(form.email)}}
                {{form_widget(form.email)}}
                
                {{form_label(form.role)}}
                {{form_widget(form.role)}}
                
                <button class="button btn btn-success btn-lg center-block" id="submitBtn">Check it out!</button>

                {{form_end(form)}}
            </div>
        </div>

    </div>
</div>

{% endblock body %}
