{% extends 'base.html.twig' %}

{% block title %}Les utilisateurs{% endblock %}

{% block body %}


    <div class="container">
      <div class="row bg-success ">
        <h1><a href="{{path("form_uti")}}">Ajouter un utilisateur</a></h1>
    </div>
<h1>
<div class="row bg-success light border">
  <h1><a class="nav-link " href="{{ path('form_uti')}}">Ajouter une nouvelle utilisateur !</a></h1>
</div>


<div>


  <table class="table table-dark table-striped">
    <tr>
      <th scope="col">id</th>
      <th scope="col">nom</th>
      <th scope="col">prenom</th>  
      <th scope="col">Adresse</th>  
      <th scope="col">motdepasse</th>
      <th scope="col">login</th>
      <th scope="col">Photo</th>
      <th scope="col">email</th>
      <th scope="col">Action </th>
    </tr>
  </thead>
  <tbody>
  {% for utilisateur in utilisateurs %}
    <tr>
      <th scope="row"> {{utilisateur.id}}
      </th>
      <td> {{utilisateur.nom}}
      </td>
      <td> {{utilisateur.prenom}}
      </td>
      <td> {{utilisateur.adresse}}
      </td>
      <td> {{utilisateur.motdepasse}}
      </td>
      <td> {{utilisateur.login}}
      </td>
      <td> {{utilisateur.photo}}
      </td>

      <td> {{utilisateur.email}}
      </td>
      
   {% endfor %}
      <td>
          {# <a href="{{ path ("uti_affiche",{"id":utilisateur.id })}}">Cliquez ICI !</a> #}
        </td>
    </tr>
  </tbody>
</table>


    {% endblock %}
