<!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
<li class="nav-item active">

                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item active" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="{{ path('article') }}">livres</a>                        
        <a class="nav-link" href="{{ path('bibi_documentation') }}">Document</a>                        
        <a class="nav-link" href="{{ path('bibi_location') }}">Location</a>                        
        <a class="nav-link" href="{{ path('bibi_contact') }}">Contact </a>                        
        <a class="nav-link" href="{{path('bibi_apropos')}}">A propos</a>                        
        <a class="nav-link" href="{{ path('bibi_user') }}">profil</a>                        
        <a class="nav-link" href="{{ path('bibi_admin') }}"> Administration</a>                        
        <a class="nav-link" href="{{ path('bibi_connexion') }}"> Connexion</a>                        
        <a class="nav-link" href="{{ path('bibliotheque') }}"> Deconnexion</a>                        
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
 

   