<nav>
<ul>
            <a href="{{path('bibi_extension')}}">Extensions</a>
             <a href="{{path('bibi_image')}}">images</a>
         <a href="{{path('bibi_administration')}}">Adminstration</a>
             <a href="{{path('bibi_utilisateur')}}">Utilisateur</a>
         <a href="{{path('bibi_contenu')}}">Contenu</a>
         <a href="{{path('bibi_categorie')}}">Categorie</a>            <a href="{{ path('bibi_connexion') }}"> Logout</a> </li   
        
</ul>

</nav>

 
