<li> 
<ul>
            <a href="{{path('bibi_extension')}}">Extensions</a><l/li>
            <li> <a href="{{path('bibi_image')}}">images</a><l/li>
            <li> <a href="{{path('bibi_administration')}}">Administration</a><l/li>
            <li> <a href="{{path('bibi_utilisateur')}}">Utilisateur</a><l/li>
            <li> <a href="{{path('bibi_contenu')}}">Contenu</a><l/li>
            <li> <a href="{{path('bibi_categorie')}}">Categorie</a><l/li>
            <li><a href="{{ path('bibi_connexion') }}"> Logout: </a> </li>   
        
</ul>

 
