

      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="{{ path('article') }}">livres</a>                        
        <a class="nav-link" href="{{ path('bibi_documentation') }}">Document</a>                        
        <a class="nav-link" href="{{ path('location') }}">Location</a>                        
        <a class="nav-link" href="{{ path('bibi_contact') }}">Contact </a>                        
        <a class="nav-link" href="{{path('bibi_apropos')}}">A propos</a>                        
        <a class="nav-link" href="{{ path('bibi_user') }}">profil</a>                        
        <a class="nav-link" href="{{path('bibi_administration')}}">Administration</a>                        
        <a class="nav-link" href="{{ path('bibi_connexion') }}"> Connexion</a>                        
        <a class="nav-link" href="{{ path('bibliotheque') }}"> Deconnexion</a>                        
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
 

   