<h3>le Menu<h3>
<ul>
<li> 
  <a href="{{ path('bibliotheque') }}">Accueil:</a> </li>    
<li>  <a href="{{ path('bibi_livre') }}"> Mon les livres: </a> </li>    
<li>  <a href="{{ path('bibi_contact') }}"> Contact: </a> </li>    
<li>  <a href="{{path('bibi_apropos')}}">A propos:</a></li>   
<li>  <a href="{{ path('bibi_documentation') }}"> Document: </a> </li>    
<li>  <a href="{{ path('bibi_location') }}"> Location: </a> </li>
<li>  <a href="{{ path('bibi_user') }}"> User: </a> </li>
<li>  <a href="{{ path('bibi_admin') }}"> admin: </a> </li>

<li>  <a href="{{ path('bibi_connexion') }}"> Connexion: </a> </li>    
<li>  <a href="{{ path('bibliotheque') }}"> Deconnexion: </a> </li>    
<li>      

</ul>