
  <nav>
    <ul>
        <a href="{{ path('bibliotheque') }}">Accueil</a>    
          <a href="{{ path('bibi_livre') }}">livres </a>     
          <a href="{{ path('bibi_contact') }}">Contact </a>     
          <a href="{{path('bibi_apropos')}}">A propos</a>   
          <a href="{{ path('bibi_documentation') }}">Document</a>     
          <a href="{{ path('bibi_location') }}">Location</a> 
          <a href="{{ path('bibi_user') }}">profil</a> 
          <a href="{{ path('bibi_admin') }}"> admin</a> 
          <a href="{{ path('bibi_connexion') }}"> Connexion</a>     
          <a href="{{ path('bibliotheque') }}"> Deconnexion</a>     
        
        </ul>
  </nav>
  