{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
<div class="row btn btn-outline-success">
  <h1><a href="{{path("fomulaire_affiche")}}">Ajouter une categorie !</a></h1>
</div>

<div>
<h1>
    <h1>Categorie </h1>
<table class="table table-striped bordored-radius=2px text-center ">
        <thead class="table-danger">
            <tr>
            <th>Id</th>
                <th>Title</th>
                <th>Resume</th>
                <th>Action</th>
                

            </tr>
        </thead>
        <tbody>
        {% for categorie in cat %}
        <tr>
        <td>
          {{categorie.id}}
        </td>
        
        <td>
          {{categorie.titre}}
        </td>
        
        <td>
          {{categorie.resume}}
        </td>
        
        <td class="btn btn-outline-info">
          <a href="{{path('cat_affiche',{'id':categorie.id})}}">Cliquez ici !</a>
        </td>
        
        
        </tr>
        
        
{% endfor %}
          


        </tbody>
    </table>
{% endblock %}
