{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}
<div class="container">
<div class="row btn btn-outline-warning">
        <a class="nav-link " href="{{path('ajouter_article_form')}}">Ajouter un nouvel Article !</a>
</div>
<h1>
    <h1>Articles </h1>
<table class="table table-striped bordored-radius=2px text-center ">
        <thead class="table-danger">
        <thead>
            <tr>
            <th>Id</th>
                <th>Title</th>
                <th>Resume</th>
                <th>Action</th>
                

            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        <tr>
        <td>
          {{article.id}}
        </td>
        
        <td>
          {{article.titre}}
        </td>
        
        <td>
          {{article.resume}}
        </td>
        <td>
          <a href="{{path('art_affichage', {'id':article.id})}}">Cliquez ICI !</a>
        </td>
        
        </tr>
        
        
{% endfor %}
          


        </tbody>
    </table>
{% endblock %}
