{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(formArticle) }}
        {{ form_widget(formArticle.titre) }}
        {{ form_widget(formArticle.images) }}
        {{ form_widget(formArticle.date) }}
        {{ form_widget(formArticle.resume) }}
        {{ form_widget(formArticle.contenu) }}

      <button type="submit" class="btn btn-success">envoyer</button>

    {{ form_end(formArticle) }}
  


{% endblock %}

