{% extends 'base.html.twig' %}

{% block title %}Formulaire Article{% endblock %}

{% block body %}

<h3>Ajouter un article</h3>
<div>
    <form>
        <div class="form-group">
            
            {{ form_start(formArticle)}}

            <div class="row">
              <div class="col-md-6">
                {{ form_label(formArticle.titre) }}
                 <input class="form-control"{{form_widget(formArticle.titre) }}>
              </div>
              <div class="col-md-6">
                {{ form_label(formArticle.resume) }}
                <input class="form-control"{{ form_widget(formArticle.resume) }}
              </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                {{ form_label(formArticle.contenu) }}
                
            
                <input  class="form-control" {{ form_widget(formArticle.contenu) }}
              </div>
              <div class="col-md-6">
                {{ form_label(formArticle.date) }}
                
            
                <input  class="form-control" {{ form_widget(formArticle.date) }}
              </div>
              <div class="col-md-6">
                {{ form_label(formArticle.images) }}
    
                <input  class="form-control" {{ form_widget(formArticle.images) }}
              </div>
            </div>
        </div>
         {{ form_end(formArticle) }}
                <div>
                    <button class="btn btn-primary">Ajouter !</button>

                </div>
      </form>
{% endblock %}
